.candContainer {
	flex: 1 !important;
	align-content: center !important;
}

.candCard {
	flex: 1 !important;
	/* background-color: #521751 !important; */
	align-items: center !important;
	justify-content: center !important;
	padding: 30px !important;
	font: 1em sans-serif !important;
	width:100%;
	/* z-index: 100 !important; */
}

.candCard .header {
	font: 2em sans-serif !important;
	font-weight: 2 !important;
}

.imageCard {
	position: relative !important;
	width: 22% !important;
	height: 100% !important;
	background: #fff !important;
	float: left;
}

.card-info{
	height: 100%;
	float:left;
	padding-left: 15px;
}

.card-info h2{
	margin-top: 5px !important;
	border-bottom: 1px solid darkred;
}

.description{
	margin-bottom: 5px;

}


.imageCard img {
	width: 100% !important;
	height: auto !important;
	max-height: 250px;
}


.imageCard .change-img {
	position: absolute !important;
	top: 45% !important;
	/* left: 50% !important; */
	/* transform: translate(-50%, -50%) !important;
	-ms-transform: translate(-50%, -50%) !important; */
	background-color: #555 !important;
	color: white !important;
	cursor: pointer !important;
	opacity: 0.8;
}

.imageCard .next {
	left: 85% !important;
}

.imageCard .prev {
	right: 85% !important;
}